/*Whole Site*/
body{
	font-family: Comfortaa, sans-serif;
	max-width: 100%;
    max-height: 100%;
}

h1, h2, h3 {
	font-family: 'Amatic SC', cursive;
}


/*Navigation*/
.navbar-default .navbar-brand {
	font-family: 'Amatic SC', cursive;
	font-size:3.5rem;
	color:#d84797;
}

.navbar-default .navbar-nav > li > a {
	color:white;
}

.nav .btn-default{
	background-color: #d84797;
	font-size:1.3em;
	margin: 10px;
	padding: 10px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	background-color: #00ffcb;
	color:#d84797;
}

.navbar-default{ 
	background-color: white;
	border-bottom: 10px solid #00ffcb;
}

	/*style for the toggle button*/

button.navbar-toggle.collapsed, .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color: #d84797;
	font-size:15px;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: white;
}


/*Home Page*/
#HomePage{
	background-image: url(/assets/MunichLargeBW.jpg);
	background-size: cover;
	width: 100%;
	height: 50vh;
	margin-top: -20px;
}

#HomePage .container h1{
	font-size: 2em;
	color: #00ffcb;
	text-align: center;
	padding-top:15%;
}

#HomePage .btn-default {
	margin: 30% auto;
	display: block;
	background-color: #d84797;
	color: white;
	font-family: 'Amatic SC', cursive;
	font-size:1.3em;
}


/*About Section*/
#about {
	margin-top: -5%;
	background-color: rgba(253,130,87, 0.1);
	height: 40vh;
	width: 100%;
}

#about h1{	
	padding-top: 4%;
	font-size: 2em;
	width: 100%;
	text-align: center;
}

#about ul{
	margin-top: 20px;
	margin-left:-10px;
	list-style: none;
}

#about ul li{
	font-size: 0.8em;
	padding-bottom: 10px;
}




/*Footer*/
footer{
	width: 100%;
	background-color: #ed8a63;
	position: fixed;
	bottom: 0;
}

footer p{
	color:black;
	text-align: center;
	margin:5px;
	font-family: 'Amatic SC', cursive;
	font-size: 20px;
}




