
/*Home Page*/

#HomePage{
	width: 100%;
	min-height: 85vh;
	margin-top: -20px;
	margin-bottom: 0;
}

#HomePage .container h1{
	font-size: 5em;
	color: #00ffcb;
	text-align: center;
	padding-top:10%;
}


#info .btn-default {
	margin-right: auto; 
	margin-left: auto; 
	transform: translateY(-600px);
	display: block;
	background-color: #d84797;
	color: white;
	font-family: 'Amatic SC', cursive;
	font-size:2em;
}


/*Flat Finder Page*/
form{
	margin-right: 30%;
	margin-left: 30%;
}

#map{
	width: 40%;
	box-sizing:border-box;
}

#flats-list{
	width: 40%;
	margin-left: 2%;
	height: 40vh;
	box-sizing:border-box;
	margin-top: 0;
}

#flat-finder-section article{
	padding: 15px;
}

#flat-finder-section article h2{
	font-size: 1.6em;
}