
/*Home Page*/

#HomePage{
	width: 100%;
	min-height: 85vh;
	margin-top: -20px;
	margin-bottom: 0;
}

#HomePage .container h1{
	font-size: 5em;
	color: #00ffcb;
	text-align: center;
	padding-top:10%;
}


#info .btn-default {
	margin-right: auto; 
	margin-left: auto; 
	transform: translateY(-600px);
	display: block;
	background-color: #d84797;
	color: white;
	font-family: 'Amatic SC', cursive;
	font-size:2em;
}