<p>Schwabing used to be famous as Munich's bohemian quarter and is still popular among tourists and locals, especially young people, for its accumulation of bars, clubs, and restaurants. Another
    popular location is the Englischer Garten, or English Garden, one of the world's largest public parks.The main buildings of Munich's largest universities, Ludwigs-Maximilians-Universität and the
    Technical University of Munich and Academy of Fine Arts are situated in the nearby Maxvorstadt. A student housing area called "Studentenstadt" (literally, "student city") ist located in the north
    of Schwabing.</p>
