<div id="faq-section" class="container-fluid default-section">
    <header>
        <h3>The Flat Finder FAQ</h3>
        <p>Knowing where to look is not the only difficult part in finding a flat. This section will answer some of the questions you may ask yourself while you search and once you found a flat. The
            best part: the anwers have been approved by locals :) </p>
    </header>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <div class="panel-heading heading-pink" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        How can I increase my chances to get a reply?
                    </h4>
                </div>
            </a>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    Make sure to write your message in German and in a good German. If you don't feel comfortable, ask a German speaker to write the message for you. It would also help to be
                    accompanied during the visit. Landlords are reassured when they see that they will be able to communicate with you. A second good thing to do is to directly send all the necessary
                    documents when you apply: the SHUFA certificate if you have one, your resume, your payslips, your contact information, or at least give information about your situation already in
                    the email.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <div class="panel-heading heading-orange" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        What Is The "Anmeldung" ?
                    </h4>
                </div>
            </a>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    The Anmeldung is the mandatory registration to the city. You need to do it within 2 weeks of moving in at the KVR. Make sure to bring a document signed from your landlord which
                    certifies where you live and get to the KVR early. If you go to Poccistr. for instance, come at least 30 minutes the opening hours, otherwise the queue might be too big and you
                    might have to go home with nothing. The process in it self takes 10 min, they check you id, enter the information and make you sign. That's it.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <div class="panel-heading heading-green" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        Where Can I Buy Furniture ?
                    </h4>
                </div>
            </a>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    There are obviously countless options: 2 Ikeas (one in the North, one in the South) but be carefull they only accept EC Karte (no credit card). A good option would be the numerous
                    online shops: <a href="https://www.home24.de/">Home 24</a>, <a href="https://www.otto.de/">Otto</a>, <a href="http://made.com/">Made</a> or
                    <a href="https://monoqi.com/de/">Monoqi</a> are some good options.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <div class="panel-heading heading-pink" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        How do I find an electricity and internet provider?
                    </h4>
                </div>
            </a>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                    The best option is to use <a href="https://www.check24.de/">Check24</a> to compare offers. But the city of Munich provides those two services through M-Net (internet) and SWM
                    (Electricity), both with very good value.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <div class="panel-heading heading-orange" role="tab" id="headingFive">
                    <h4 class="panel-title">
                        Do I need to pay the TV allowance ?
                    </h4>
                </div>
            </a>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                    Yes, unfortunately it doesn't matter if you have a TV or not, you will need to pay. You only pay once per household though.
                </div>
            </div>
        </div>
    </div>
</div>
