<div id="faq-section" class="container-fluid default-section">  
  <header>
    <h3>The Flat Finder FAQ</h3>
    <p>Knowing where to look is not the only difficult part in finding a flat. This section will answer some of the questions you may ask yourself while you search and once you found a flat. The best part: the anwers have been approved by locals :) </p>
  </header>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading heading-pink" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            How can I increase my chances to get a reply?
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil optio nam, totam possimus alias consectetur fugit iste deserunt quidem porro ducimus magnam inventore, aliquam sint cumque molestias expedita reiciendis officia.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading heading-orange" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            What Is The "Anmeldung" ?
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse ex nulla autem ratione, accusantium eos amet? Quibusdam mollitia, neque cum, magnam totam facere nostrum, aliquam laborum ullam nobis aspernatur veritatis.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading heading-green" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Where Can I Buy Furniture ?
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis repudiandae quidem nesciunt beatae vero vel itaque eum dolore excepturi voluptatibus! Reprehenderit voluptates error tempore ut aliquid quibusdam minus adipisci dolore?
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading heading-pink" role="tab" id="headingFour">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            How do I find an electricity and internet provider?
          </a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus saepe laborum necessitatibus obcaecati, non quae maiores repudiandae nisi atque rem omnis perferendis autem officiis dignissimos voluptatibus commodi nulla aliquam facere.
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading heading-orange" role="tab" id="headingFive">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Do I need to pay the TV allowance ?
          </a>
        </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus saepe laborum necessitatibus obcaecati, non quae maiores repudiandae nisi atque rem omnis perferendis autem officiis dignissimos voluptatibus commodi nulla aliquam facere.
        </div>
      </div>
    </div>
  </div>
  </div>