<div id="HomePage">

    <section class="container">
        <h1>Are you Looking For a Flat in Munich ?</h1>
    </section>

</div>

<div id="info" class="container">
    <h1>This Page is Here to Help you...</h1>

    <ul>
        <li>...Learn about some of Munich nicest areas to live in...</li>
        <li>...Search for appartments listings by area...</li>
        <li>...Get additional tips and tricks to help you with the search and after you move in.</li>
    </ul>

    <button class="btn btn-default" ng-click="getStarted()"><span class="glyphicon glyphicon-search"></span> Get Started</button>
</div>
